// sass components/module imports

@import 'Home.module.scss';
@import 'Navbar.module.scss';
@import 'Ship.module.scss';
@import 'Footer.module.scss';

//import font 
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap'); // offical font 
//@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap'); // this is a test font 

//variable font 
$primary-font : 'Cabin', sans-serif;
//general color variables
$base-color: #22272B;
$light-color: #D2D6D1;
$light-color: #DEE1E6;


body{
    margin: 0;
    padding: 0;
    background-color: $base-color;
    //font-family: 'Cabin', sans-serif;
    font-family: $primary-font
} 