//@import './globals.scss';
$primary-color: #FFFFFF;

.home{
	
  border: 1px solid blue;
  width: 100%;
  height: auto;
    
  &__contain{
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		border: 1px solid green;
    h1{
			color: $primary-color;
			text-align: center;
    }
	} 
	
	&__ships{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 400px;
		color: $primary-color;
		border: 1px solid palevioletred;
		
		img{
			width: 400px;
			height: 310px;
		}
	}
}