//@import './globals.scss';
$primary-color: #FFFFFF;
$red-color:#E5232E;
$ship-background: #181C1F;


.home{
  border: 1px solid blue;
  width: 100%;
  height: auto;
  
  h1{
	color: $ship-background;
	text-align: center;
}
  

  &__contain{
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		border: 1px solid green;
	} 
	
	&__ships{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 400px;
		color: $primary-color;
		border: 1px solid palevioletred;
		
		img{
			width: 400px;
			height: 310px;
		}
	}
}