//@import './globals.scss';
$primary-color: #FFFFFF;
$red-color:#E5232E;
$card-background: #181C1F;
$light-color: #DEE1E6;
$text-background: #F1F3F4;

.home{
  //border: 1px solid blue;
  width: 100%;
  height: auto;
  
  h1{
	color: $text-background;
	text-align: center;
}
  

  &__contain{
		display: grid;
		justify-items: center;
		align-items: center;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		grid-gap: 2em 0.5em ;
		//border: 1px solid green;
	} 
	
	&__ships{
		display: flex;
		text-align: center;
		height: fit-content;
		//width: 400px;
		background-color:$card-background;
		border-radius: 8px;
		box-shadow: 0px 2px 6px 3px rgba(0,0,0,0.10);
		margin-bottom: 2em;
		
		img{
			width: 420px;
			height: 340px;
			margin-bottom: -4px;
			border-radius: 15px;
			padding: 0.5em;
		}

		&__item{
			a{
				text-decoration: none;
				color: $text-background;
			}
		}
		&__no{
			display: flex;
			margin: 0;
			justify-content: center;
			align-items: center;
			width: 420px;
			height: 350px;
			//border: 1px solid blue;
			
			
		}
	}

	
}